<?xml version="1.0" encoding="utf-8"?>
<module name="Geta.EPi.Imageshop" clientResourceRelativePath="" loadFromBin="false">
    <assemblies>
        <add assembly="Geta.EPi.Imageshop" />
    </assemblies>
    <dojo>
        <paths>
            <add name="geta-epi-imageshop" path="ClientResources/Scripts" />
        </paths>
    </dojo>
</module>