.Sleek .imageExt,
.imageExt {
    width: 112px;
    height: 112px;
    padding: 1px;
    position: relative;
    cursor: pointer;
    display: table;
}

    .imageExt .noImage {
        display: table-cell;
        white-space: pre-wrap;
        text-align: center;
    }

    .imageExt .image-container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.Sleek.dojoDndMove .imageExt .imageExtDropArea,
.Sleek.dojoDndCopy .imageExt .imageExtDropArea {
    border: 2px dashed #B4C600;
    background-color: #f8f9f9;
}

    .Sleek.dojoDndCopy .imageExt .imageExtDropArea.dojoDndContainerOver {
        border: 2px solid #B4C600;
    }

.thumbContainer .deleteButton {
    width: 17px;
    height: 17px;
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    background: transparent url('../images/delete.png') top left;
}

.thumbContainer .thumbLink {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    padding-top: 2px;
    padding-left: 2px;
    cursor: pointer;
}

.noImage .addLink {
    width: 96px;
    height: 96px;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    background: transparent url('../images/image_add.png') top left;
}

.imageExt.imageExtFocused {
    border: 2px solid #337cd7;
}

.imageExt .closeButton {
    width: 64px;
    height: 64px;
    display: block;
    position: absolute;
    right: 0;
    cursor: pointer;
    background: transparent url('../images/close-button.png') top left;
}


.Sleek.dojoDndMove .imageExt,
.Sleek.dojoDndCopy .imageExt {
    border-style: none !important;
    padding: 3px;
}

.Sleek.dojoDndCopy .dijitReadOnly.imageExtReadOnly,
.Sleek.dojoDndMove .dijitReadOnly.imageExtReadOnly,
.Sleek.dojoDndCopy .dojoDndTargetDisabled.imageExtReadOnly,
.Sleek.dojoDndMove .dojoDndTargetDisabled.imageExtReadOnly {
    padding: 1px;
}

.imageshop-frame-container {
    display: block;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    background: rgba(0,0,0,0.75);
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.imageshop-frame-container-close {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 48px;
    height: 48px;
    right: -26px;
    top: -26px;
    cursor: pointer;
    background: transparent url('../images/close-icon.png') top left;
    background-size: 48px 48px;
}

.imageshop-frame-container iframe {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    padding: 0;
    margin: 0;
}

.imageshop-frame-wrapper {
    margin: 0 auto;
    position: relative;
}

.imageshop-browser {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
