<?xml version="1.0" encoding="utf-8"?>
<module name="geta-epi-imageshop" clientResourceRelativePath="" loadFromBin="false">
    <assemblies>
        <add assembly="Geta.EPi.Imageshop" />
    </assemblies>
    <dojo>
        <paths>
            <add name="geta-epi-imageshop" path="ClientResources/Scripts" />
        </paths>
    </dojo>
    <clientModule initializer="geta-epi-imageshop/ImageshopInitializer">
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
    </clientModule>
</module>